.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h11{
  
    position:relative;
    padding-left: 10vw;
    top: 10vb;
    font-size: 10vb;
    padding-bottom: 0.1vi;
    color:#f7ecec;
    
    
}
.h12{
    position:relative;
    font-size: 10vb;
    padding-top: 0.1vi;
    color:#f7ecec;


}
.h13{
    position:relative;
    display:inline;
    font-size: 10vb;
    padding-left:1ch;
    color:hwb(356 0% 28%);
}
