.skill {
  width: 60px;
  height: 60px;
  /* background: cornflowerblue; */
  position: relative;
}
.circle__outer {
  height: 60px;
  width: 60px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.15),
    -2px -2px 3px -1px rgba(255, 255, 255, 0.7);
}
.circle__inner {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.15),
    inset -1px -1px 2px -1px rgba(255, 255, 255, 0.7);
}
#number {
  font-size: 90%;
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 5px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
.circle__svg {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 330;
  }
}
