.Mycard {
  /* transform: translateZ(0);
  transition: transform 0.25s ease-out;
  background:transparent;
  outline-style:solid;
  outline-width: 3px;
  outline-color: red; */
}
.Brokercard:hover {
  transform: scale(1.01);
}
